---
title:
description:
---
<style type="text/css">
    #ticketapp .table th { text-align: center; }
</style>
<div class="span3">
    <h2>Statisitics</h2>
</div>
<div class="span8">
    <h2>Pending Authorization Requests</h2>
    <div id="ticketapp">
        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th>URL</th>
                <th>Email <i class="icon-envelope"></i></th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody id="ticket-table-rows">
            </tbody>
        </table>
    </div>
    <script src="/assets/twitter/javascripts/jquery-1.8.1.min.js"></script>
    <script src="/assets/twitter/javascripts/underscore.js"></script>
    <script src="/assets/twitter/javascripts/backbone.js"></script>
    <script type="text/javascript">
        $(function(){

            // Task Model
            // ----------

            // Our basic **Task** model has `todo`, `created`, and `accomplished` attributes.
            window.Ticket = Backbone.Model.extend({

                initialize: function() {

                },

                // Remove this Task from *localStorage* and delete its view.
                clear: function() {
                    this.destroy();
                    this.view.remove();
                }

            });

            // Task Collection
            // ---------------

            // The collection of tasks is backed by *localStorage* instead of a remote
            // server.
            window.TicketList = Backbone.Collection.extend({

                // Reference to this collection's model.
                model: Ticket,

                // Save all of the task items under the `"tasks"` namespace.
                //localStorage: new Store("tasks"),

                url: '/api/tickets'

            });

            // Create our global collection of **Tasks**.
            window.Tickets = new TicketList;

            // Task Item View
            // --------------

            // The DOM element for a task item...
            window.TicketView = Backbone.View.extend({

                //... is a list tag.
                tagName:  "tr",

                // Cache the template function for a single item.
                template: _.template($('#ticket-template').html()),

                // The DOM events specific to an item.
                events: {
                    "click button.approve"              : "approve",
                    "click button.reject"               : "reject"
                },

                // The TaskView listens for changes to its model, re-rendering. Since there's
                // a one-to-one correspondence between a **Task** and a **TaskView** in this
                // app, we set a direct reference on the model for convenience.
                initialize: function() {
                    _.bindAll(this, 'render');
                    this.model.bind('change', this.render);
                    this.model.view = this;
                },

                // Re-render the contents of the task item.
                render: function() {
                    $(this.el).html(this.template(this.model.toJSON()));
                    this.setTicket();
                    return this;
                },

                setTicket: function() {
                    var referrer = this.model.get('referrer');
                    var email = this.model.get('email');
                    this.$('.ticket-referrer').text(referrer);
                    this.$('.ticket-email').text(email);
                },

                approve: function() {
                    this.model.save({action: 'approve'});
                    this.remove();
                },

                reject: function(e) {
                    this.model.save({action: 'reject'});
                    this.remove();
                },

                // Remove this view from the DOM.
                remove: function() {
                    $(this.el).remove();
                },

                // Remove the item, destroy the model.
                clear: function() {
                    this.model.clear();
                }

            });

            // The Application
            // ---------------

            // Our overall **AppView** is the top-level piece of UI.
            window.AppView = Backbone.View.extend({

                // Instead of generating a new element, bind to the existing skeleton of
                // the App already present in the HTML.
                el: $("#ticketapp"),

                // At initialization we bind to the relevant events on the `Tasks`
                // collection, when items are added or changed. Kick things off by
                // loading any preexisting tasks that might be saved in *localStorage*.
                initialize: function() {
                    _.bindAll(this, 'addOne', 'addAll', 'render');

                    Tickets.bind('reset', this.addAll);
                    Tickets.bind('all',     this.render);

                    Tickets.fetch();
                },

                // Re-rendering the App just means refreshing the statistics -- the rest
                // of the app doesn't change.
                render: function() {

                },

                // Add a single task item to the list by creating a view for it, and
                // appending its element to the `<ul>`.
                addOne: function(ticket) {
                    var view = new TicketView({model: ticket});
                    this.$("#ticket-table-rows").append(view.render().el);
                },

                // Add all items in the **Tasks** collection at once.
                addAll: function() {
                    Tickets.each(this.addOne);
                }

            });

            // Finally, we kick things off by creating the **App**.
            window.App = new AppView;

        });
    </script>
</div>

<!-- Templates -->

<script type="text/template" id="ticket-template">
    <td class="ticket-referrer"><a href="<%= referrer %>"><%= referrer %></a></td>
    <td class="ticket-email"><a href="mailto:<%= email %>"><%= email %></a></td>
    <td><button class="btn btn-primary approve">Approve</button> <button class="btn reject">Reject</button></td>
</script>
